POSTGRES_USER=mi_user
POSTGRES_PASSWORD=mi_password
POSTGRES_DB=music_center
POSTGRES_HOST=localhost:5432

# Servidor Rust
SERVER_HOST=0.0.0.0
SERVER_PORT=7878

# Almacenamiento de música
MUSIC_STORAGE_PATH=/home/dei/music_storage

# Python microservicio
PYTHON_HOST=127.0.0.1
PYTHON_PORT=9999